*{
    color: white;
    background-color: black;
    box-sizing: border-box;
}

body{
    width: 600px;
    height: 600px;
    border: 10px solid pink;
    margin: auto;
    margin-top: 300px;
    background-color: white;
    color: black;
}

body img{
   margin-left: 50px;  
   margin-top: 20px; 
}

body h1{
    background-color: white;
    color: pink;
    text-align: center;
    

}